@page
@model RemoteMusicController.Pages.IndexModel
<form id="MainForm" method="post">
	<input type="hidden" name="ButtonType" value="" />
	@Html.AntiForgeryToken()
</form>
<style>
	.card {
		background: #fff;
		border-radius: 16px;
		margin-top: 20px;
		width: 100%;
		text-align: center;
		box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
	}
	@@media screen and (orientation: landscape) {
		.card {
			width: 500px;
			height: wid
		}
	}
	@@media screen and (orientation: portrait) {

	}
	.card-1 {
		padding: 10px 10px 10px 10px;
	}
	.card-4 {
		padding: 30px 30px 30px 30px;
	}
	body {
		padding: 5px 5px 5px 5px;
		text-align: center;
		font-family: 'Ubuntu', sans-serif;
	}
	.btn {
		position: relative;
		width: 100%;
		height: 10%;
		margin-top: 20px;
		display: block;
		padding: 0;

		overflow: hidden;

		border-width: 0;
		outline: none;
		border-radius: 10px;
		box-shadow: 0 1px 4px rgba(0, 0, 0, .6);

		background-color: #2ecc71;
		color: #ecf0f1;

		transition: background-color .3s;
	}

	.btn:hover, .btn:focus {
		background-color: #27ae60;
	}

	.btn > * {
		position: relative;
	}

	.btn span {
		display: block;
		padding: 12px 24px;
	}

	.btn:before {
		content: "";

		position: absolute;
		top: 50%;
		left: 50%;

		display: block;
		width: 0;
		padding-top: 0;

		border-radius: 100%;

		background-color: rgba(236, 240, 241, .3);

		-webkit-transform: translate(-50%, -50%);
		-moz-transform: translate(-50%, -50%);
		-ms-transform: translate(-50%, -50%);
		-o-transform: translate(-50%, -50%);
		transform: translate(-50%, -50%);
	}

	.btn:active:before {
		width: 120%;
		padding-top: 120%;

		transition: width .2s ease-out, padding-top .2s ease-out;
	}

	/* Styles, not important */
	*, *:before, *:after {
		box-sizing: border-box;
	}

	html {
		position: relative;
		height: 100%;
	}
	h2 {
		font-weight: normal;
	}
	p {
		font-weight: bold;
		font-size: 200%;
	}
	span {
		font-size: 250%;
		font-weight: bold;
	}
	.btn.blue {
		background-color: #2979ff;
	}
	.btn.blue:hover, .btn.blue:focus{
		background-color: #2f69cb;
	}
</style>
<body>
	<center>
		<div class="card card-1"><span>Media Controller</span></div>
		<div id="MainCard" class="card card-4">
			<button class="btn blue" onclick="SetButton('Play/Pause')" type="button"><span>Play/Pause⏯</span></button>
			<button class="btn blue" onclick="SetButton('Volume Up')" type="button"><span>Volume Up🔊</span></button>
			<button class="btn blue" onclick="SetButton('Volume Down')" type="button"><span>Volume Down🔉</span></button>
			<button class="btn blue" onclick="SetButton('Next')" type="button"><span>Next⏭</span></button>
			<button class="btn blue" onclick="SetButton('Prev')" type="button"><span>Prev⏮</span></button>
		</div>
	</center>
</body>

<script>

	function SetButton(name) {
		document.getElementsByName('ButtonType')[0].setAttribute('value', name);
		document.getElementById('MainForm').submit();
	}
	var size = document.getElementById('MainCard').offsetHeight;
	size = size / 15;
	document.querySelectorAll("span").forEach(function (el) { el.style.fontSize = size });
</script>
